body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  border-top: 10px solid black;
}
.header .navbar {
  border: none;
  color: #ffffff;
}
.header .navbar a {
  color: #ffffff;
}
.header .navbar .navbar-brand {
  padding: 15px 15px;
}
.header .navbar-nav > li {
  background-color: #000000;
}
.header .navbar-toggle {
  background-color: #000000;
}
.header .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.header .navbar-nav > li > a {
  padding-bottom: 5px;
  padding-top: 0;
}
.header .navbar-nav > li > a:hover {
  background-color: darkgreen;
}
.header.static {
  position: static;
  z-index: 9;
}
.header--fixed {
  display: none;
}
.page-section {
  width: 100%;
  padding: 50px 0;
}
.page-section--first {
  padding: 0 0 50px 0;
}
#about {
  background: #bbbbbb url("../images/top_background.jpg") center top no-repeat;
  background-size: cover;
  min-height: 370px;
  color: #000000;
  z-index: 15;
  position: relative;
}
#about .intro {
  background-color: rgba(255, 255, 255, 0.56);
  padding: 20px;
  margin-top: 20px;
}
#about .intro__logo {
  margin: 0 auto;
}
#about .intro p {
  font-size: large;
}
#about .intro a {
  color: #000;
  font-weight: bold;
}
#offer .offer__rwd {
  padding: 0 10%;
}
#projects .thumb {
  height: 400px;
  position: relative;
}
#projects .thumb .thumbnail {
  border-radius: 0px;
  box-shadow: 2px 2px 10px #bbbbbb;
  border: none;
}
#projects .thumb .inactive {
  pointer-events: none;
  cursor: default;
}
#projects .desc {
  position: absolute;
  top: 0;
  display: none;
  margin: 5% 8% 5% 5%;
  padding: 5%;
  text-align: justify;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.71);
}
#projects .desc:hover {
  color: #ffffff;
}
#contact {
  background-color: #4A564A;
}
#contact h1,
#contact p {
  color: #ffffff;
}
#contact input,
#contact textarea {
  width: 100%;
}
#contact textarea {
  height: 160px;
}
#contact input[type=submit] {
  margin-top: 10px;
  background-color: #000000;
  border: #000000;
}
#contact #contactForm {
  margin-bottom: 20px;
}
input[type=submit].form-err {
  cursor: not-allowed;
}
input[type=submit].form-ok {
  color: #ffffff;
  border: none;
}
.ng-invalid.ng-dirty {
  border: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.answer {
  color: #ffffff;
}
#underconst {
  transform: skew(20deg, -10deg);
  -webkit-transform: skew(20deg, -10deg);
  -moz-transform: skew(20deg, -10deg);
  -o-transform: skew(20deg, -10deg);
  width: 218px;
  height: 50px;
  background-color: #000000;
  font-size: 1.5em;
  padding: 5px;
  color: white;
  margin-top: 20px;
}
#footer {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 5px;
}
#footer .email {
  font-weight: bold;
}
@media (min-width: 768px) {
  .header .navbar-brand {
    padding-left: 0;
  }
  .navbar-nav {
    float: right;
  }
}
