body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  position: fixed;
  width: 100%;
  z-index:10;
  border-top: 10px solid black;
  .navbar {
    border: none;
    color: #ffffff;
    a {
      color: #ffffff;
    };
    .navbar-brand {
      padding: 15px 15px;
    }
  }
  .navbar-nav>li {
    background-color: #000000;
  }
  .navbar-toggle {
    background-color: #000000;
    .icon-bar {
      background-color: #ffffff;
    }
  };
  .navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 0;
  }
  .navbar-nav>li>a:hover {
    background-color: darkgreen;
  }
  &.static {
    position: static;
    z-index: 9;
  }
  &--fixed {
    display: none;
  }
}

.page-section {
  width: 100%;
  padding: 50px 0;
}

.page-section--first {
  padding: 0 0 50px 0;
}

#about {
  background: #bbb url("../images/top_background.jpg") center top no-repeat;
  background-size: cover;
  min-height: 370px;
  color: #000000;
  z-index:15;
  position: relative;
  .intro {
    background-color: rgba(255, 255, 255, 0.56);
    padding: 20px;
    margin-top: 20px;
    &__logo {
      margin: 0 auto;
    }
    p {
      font-size: large;
    }
    a {
      color: #000;
      font-weight: bold;
    }
  }
};

#offer {
  .offer__rwd {
    padding: 0 10%;
  }
}
#projects {
  .thumb {
    height: 400px;
    position: relative;
    .thumbnail {
      border-radius: 0px;
      box-shadow: 2px 2px 10px #bbbbbb;
      border: none;
    }
    .inactive {
      pointer-events: none;
      cursor: default;
    }
  }

  .desc {
    position: absolute;
    top: 0;
    display: none;
    margin: 5% 8% 5% 5%;
    padding: 5%;
    text-align: justify;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.71);
  }

  .desc:hover {
    color: #ffffff;
  }
}

#contact {
  background-color: #4A564A;
  h1,p {
    color: #ffffff;
  };
  input, textarea {
    width:100%;
  };
  textarea {
    height: 160px;
  };
  input[type=submit] {
    margin-top: 10px;
    background-color: #000000;
    border: #000000;
};
  #contactForm {
    margin-bottom: 20px;
  }
}
input[type=submit].form-err {
  cursor: not-allowed;
}
input[type=submit].form-ok {
  color: #ffffff;
  border: none;
}
.ng-invalid.ng-dirty {
  border: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.answer {
  color:#ffffff;
}

#underconst {
  transform:skew(20deg,-10deg);
  -webkit-transform:skew(20deg,-10deg);
  -moz-transform:skew(20deg,-10deg);
  -o-transform:skew(20deg,-10deg);
  width: 218px;
  height: 50px;
  background-color: #000000;
  font-size:1.5em;
  padding: 5px;
  color: white;
  margin-top: 20px;
}

#footer {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 5px;
  .email {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .header .navbar-brand {
    padding-left: 0;
  }
  .navbar-nav {
    float: right;
  }
}